/* Write your CSS here */
button {
  color: #ff0b37;
  border-color: #ff0b37;
  border-radius: 5px;
  background-color: #ffffff;
}
p {
  color: #000000;
  text-align: left;
}

.listItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (max-width: 767px) {
  .listItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
